:root {
    --color-primary: #FF839D;
    --color-secondary: #ffffff;
    --color-background: #F5F5F5;
    --color-text: #444;

    --font-important: 1.1rem;
    --font-co-important: 1rem;

    --margin-standard: 100px;

    --padding-button: 1.2rem;

    --gap-standard: 10px;
}

* {
    font-family: "Montserrat", serif;
    
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F0E6EF;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    margin-bottom: 50px;
}

mark {
    background-color: transparent;
    color: var(--color-primary);
    font-weight: 500;
}


        header {
            background-color: #F4F9E9;
            .shopping {
                display: flex;
                justify-content: right;
                align-items: center;
                padding: 15px;
                svg {
                    cursor: pointer;
                    color: #FF7FAE;
                    margin-right: 20px;
                    width: 30px;
                }
            }
        }

        h3 {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 20px;
            font-size: 1.5rem;
        }

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;
            background-color: #F4F9E9;

            .contact-icons {
                display: flex;
                flex-direction: row;
                gap: 50px;
       

                i {
                    cursor: pointer;
                    font-size: 1.5rem;
                    color: #FF7FAE;
                }
            }
        }

        .main-content {
            height: 50vh;
            margin-left: 50px;
            display: flex;
            align-items: center;

            .main-content-logo {
                display: flex;
                align-items: center;



                img {
                    width: 200px;
                }

                .main-content-text {
                    margin-left: 2.5rem;
                    line-height: 1.2;
                    h1 {
                        color: #FF7FAE;
                        font-size: 4.5rem;
                    }
                    h2 {
                        color: #c9c2c2;
                        font-size: 3rem;
                    }
                }
            }
        }



    .menu {
        background-color: #F4F9E9;
        border-radius: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto; 
        place-items: center;
        column-gap: var(--gap-standard);
        padding: 25px;
        gap: 35px;
        margin: 20px;

            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr; 
                width: auto;
                margin: auto !important;

            }
        }

        .product:nth-child(1),
        .product:nth-child(2){
            /* padding: 15px;
            border: 1px solid blue; */
            margin-top: var(--margin-standard);
        }

        .product {
            display: flex;
            padding-left: 30px;
            gap: var(--gap-standard);
            width: 40vw;
                @media screen and (max-width: 768px) {
                width: auto;
                padding: 0px;
                gap: 20px;
                flex-direction: column;
            }
   
            .img-product {
                transition: 0.2s ease-in;
                border: 0px solid var(--color-primary);
                &:hover {
                    scale: 1.2;
                }
                
                img {
                    border-radius: 10px;
                    width: 150px;

                @media screen and (max-width: 768px) {
                width: 200px;
                flex-direction: column;
            }
                }

                @media screen and (max-width: 768px) {
                height: 200px;
            }
            }

            .product-information {
                width: 40vw;

                .product-information-paragraph {
                    width: 60%;
                }

                .product-information-title {
                    color: var(--color-primary);
                    
                }

                .price_selection {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0px 5px;
                    @media screen and (max-width: 768px) {
                        margin: 0px;
                    }


                    .price_selection_item {
                        font-weight: 800;
                    }

                    .price {
                        color: var(--color-primary);
                        font-weight: 900;

                    }

                    .icon {   
                        background-color: transparent;
                        cursor: pointer;
                        border: none;
                        transition: 0.3s ease;

                        svg {
                            color: var(--color-primary);
                            padding-top: 5px;
                            width: 2rem;

                        }
                    }
                }

                @media screen and (max-width: 768px) {
                width: 100vw;
                }
            }
        }