
:root {
    --color-primary: #B06E4D;
    --color-secondary: #ffffff;
    --color-background: #F5F5F5;
    --color-text: #444;

    --font-important: 1.1rem;
    --font-co-important: 1rem;

    --margin-standard: 100px;

    --padding-button: 1.2rem;

    --gap-standard: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

header {
    position: sticky !important;
    top: 0;
    background-color: var(--color-seconday);
    padding: 20px !important;
    z-index: 10;
}

mark {
    background-color: transparent !important;
    color: var(--color-primary) !important;
}

.navbar {
    background-color: var(--color-secondary);
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navbar-brand {
    color: var(--color-primary);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: var(--color-primary);
}

.navbar-nav .nav-link {
    color: var(--color-text);
    font-weight: 500;
    transition: color 0.3s ease;
}



.btn-outline-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: #fff;
}

.bi.bi-bag-fill {
    color: #fff !important;
}


.btn-outline-primary i {
    color:(--color-primary) !important;
}


h3, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.5rem;
}


.main-content {
    margin: 80px;
    display: flex;
    align-items: center;
}

.main-content-logo {
    display: flex;
    align-items: center;
}

.main-content img {
    margin-right: 100px;
}

.main-content-logo img.logo-desktop {
    width: 420px;
}

.main-content-text {
    margin-left: 2.5rem;
    line-height: 1.2;
}

.main-content-text .logo-mobile {
    display: none;
}

.main-content-text h1 {
    color: var(--color-primary) !important;
    font-size: 4rem;
    font-weight: 300;
}

.main-content-text h2 {
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 200;
}

.main-content-text p {
    font-style: italic;
    text-transform: lowercase;
    width: 80vh;
    font-size: 1.6rem;
    margin: 35px 0px;
}

.main-content-text span {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primary);
}

.main-content-text button {
    border-radius: 5px;
    margin-top: 50px;
    padding: 13px;
    font-size: 1.2rem;
    font-weight: 400;
    width: 55%;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-primary) !important;
    color: var(--color-primary);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.contact-icons {
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact-icons i {
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--color-primary);
}

.contact-icons i:hover {
    scale: 1.1;
}

.menu {
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    padding: 25px;
    margin: 20px;
    place-items: center;
}

.product {
    display: flex;
    flex-direction: row;
    gap: var(--gap-standard);
    width: 40vw;
    padding-left: 30px;
}

.product:nth-child(1),
.product:nth-child(2) {
    margin-top: var(--margin-standard);
}





.img-product img {
    border-radius: 100px;
    width: 150px;
    border: 4px solid var(--color-primary);
}

.product-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
}

.product-information-title {
    color: var(--color-primary);
    text-transform: uppercase;
}

.product-information-paragraph {
    width: 80%;
}

.price_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.price_selection_item {
    font-weight: 800;
}

.price {
    color: var(--color-primary);
    font-weight: 900;
}

.icon {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    display: flex;
    width: 2.7rem;
    border-radius: 100px;
    background-color: var(--color-primary);
    padding: 4px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}


.icon svg {
    color: var(--color-secondary);
    width: 1.4rem;
}


.btn {
    background-color: var(--color-primary) !important;
}


.modal-content {
    border: 3px solid var(--color-primary);
    border-radius: 20px;
}

.modal-header .modal-title {
    color: var(--color-primary);
}

.modal-body form {
    padding: 0px 20px;
}

.modal-body button {
    padding: 10px;
    background-color: var(--color-primary);
    color: #fff;
}

.modal-body .addressWarn {
    color: var(--color-primary);
    font-weight: 400;
    display: none;
}

.modal-body button:hover {
    padding: 10px;
    background-color: var(--color-primary) !important;
    color: #fff !important;
}

.modal-body input:focus {
    border: 2px solid var(--color-primary) !important;
    box-shadow: none;
}

.selected-products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0px;
}

.selected-products h3 {
    font-size: 1.2rem;
    color: var(--color-primary);
}



@media screen and (max-width: 768px) {

    .main-content {
        margin: 80px;
        flex-direction: column;
        text-align: center;
    }

    .contact {
        display: none;
    }

    .main-content-text {
        margin: 0px;
    }

    .main-content-text p {
        width: 100vw !important;
    }

    .main-content-logo {
        flex-direction: column;
    }

    .main-content-logo img.logo-desktop {
        display: none;
    }

    .main-content-text .logo-mobile {
        display: block;
        width: 200px;
        margin: 0 auto 20px auto;
    }

    .main-content-text {
        margin-left: 0;
    }

    .main-content-text h1 {
        font-size: 2rem;
    }

    .main-content-text h2 {
        font-size: 1.5rem;
    }

    .main-content-text p {
        width: 80vh;
        font-size: 1rem;
    }

    .main-content-text button {
        padding: 15px;
        font-size: 1rem;
        width: 90%;

    }

    .menu {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0px;
        gap: 30px;
    }

    .product {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 20px;
        align-items: left;
    }

    .product img {
           border: 3px solid var(--color-primary);
    }

    .product:nth-child(1) {
        margin-top: 50px;
    }
    .product:nth-child(2) {
        margin-top: 0px;
    }

    .img-product img {
        width: 50%;
        max-width: 300px;
    }

    .product-information {
        width: 100%;
        align-items: left;
    }

    .product-information-paragraph {
        width: 100%;
        text-align: left;
    }

    .icon {
        margin-bottom: 24px;
    }

    .icon svg{
        width: 30px;
    }

    .modal-body form {
        padding: 0px 0px;
      }

    .nav-link {
        margin-left: -20px;
    }
}


::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}
